{% extends 'accounts/base.html' %} {% block content %}
<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Exercises</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <tr>
          <th>Exercise</th>
          <th>Category</th>
          <th>Description</th>
        </tr>
        {% for exercise in exercises%}
        <tr>
          <td>{{ exercise.name }}</td>
          <td>{{ exercise.category }}</td>
          <td>{{ exercise.description }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}
