{% extends 'accounts/base.html' %} {% block content %}
<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Exercises</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <tr>
          <th>Exercise</th>
          <th>Category</th>
          <th>Description</th>
        </tr>
        {% for exercise in exercises%}
        <tr>
          <td>{{ exercise.name }}</td>
          <td>{{ exercise.category }}</td>
          <td>{{ exercise.description }}</td>
          {% comment %}
          <td>
            <a
              class="btn btn-sm btn-info"
              href="{% url 'update_order' exercise.id %}"
              >Update</a
            >
          </td>
          {% endcomment %}
          <td>
            <a
              class="btn btn-sm btn-danger"
              href="{% url 'delete_exercise' exercise.id %}"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<form
  action="{% url 'create_exercise' %}"
  method="get"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <input
    class="btn btn-info"
    type="submit"
    value="Add New Exercise"
    name="submit"
  />
</form>

{% endblock content %}
